---
import Event from "../components/Event.astro";
import Carousel from "../components/Carousel.astro";
import { events } from "../data/events";
import ArrowRight from "../components/icons/ArrowRight.astro";
const firstThreeEvents = events.slice(0, 3);
---

<section class="p-4 md:p-8 mb-5">
  <div
    class="flex flex-col items-center content-center gap-6 lg:gap-10 max-w-screen-xl mx-auto lg:view"
  >
    <div>
      <h1 class="text-2xl lg:text-6xl md:text-4xl text-center">
        Eventos que inspiran, <br />
        <span class="text-[#e8d7b9]">Momentos que perduran</span>
      </h1>
    </div>
    <div class="flex flex-col items-center gap-4">
      <h2 class="font-bold text-xl md:text-2xl lg:text-4xl">Portfolio</h2>
      <p>Descubre nuestra magia en cada evento</p>
    </div>
    <!-- Versión para tablets y escritorio -->
    <div class="hidden md:flex flex-col w-full items-center">
      {
        firstThreeEvents.map((event) => (
          <Event
            class="block-event pb-2"
            title={event.title}
            description={event.description}
            image={event.image}
            link={event.link}
          />
        ))
      }
    </div>

    <!-- Versión solo para móvil -->
    <div class="md:hidden w-full px-2">
      <Carousel events={events} />
    </div>

    <div
      class="flex flex-col w-full md:flex-row items-center justify-between gap-4"
    >
      <a href="/allEvents" class="underline">
        <div class="hidden md:flex md:items-center md:justify-center">
          <p class="font-bold inline-flex">
            Ver todos
          </p>
          <ArrowRight class="ml-2" />
        </div>
      </a>
      <div
        class="flex flex-col sm:flex-row items-center justify-center gap-2 text-center"
      >
        <p class="text-white font-bold">¿Tienes un evento planeado?</p>
        <a href="https://wa.me/+573104137728?text=Hola%2C%20estoy%20interesado%20en%20cotizar%20un%20evento%20con%20ustedes.">
          <button
            class="bg-[#e8d7b9] text-black font-extrabold px-4 py-2 rounded-lg hover:bg-[#e2c798] whitespace-nowrap hover:cursor-pointer"
          >
            Escribenos aquí
          </button>
        </a>
      </div>
    </div>
  </div>
</section>

<style>
  section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  h1 {
    font-family: "Cinzel Variable", serif;
    color: #fff;
  }

  @keyframes appear {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .block-event {
    animation: appear 0.5s ease-out forwards;
  }

  /* Media query para tabletas */
  @media (min-width: 768px) and (max-width: 1023px) {
    .block-event {
      margin-bottom: 4rem;
    }
  }
</style>
