---
import Event from "../components/Event.astro";
import Carousel from "../components/Carousel.astro";
import { events } from "../../events";
const firstThreeEvents = events.slice(0, 3);
import { ArrowRight } from "@lucide/astro";
import { ViewTransitions } from 'astro:transitions';
---

<section class="p-4 md:p-8 mb-5">
  <div class="flex flex-col items-center content-center gap-6 lg:gap-10 max-w-screen-xl mx-auto lg:view" >
    <div>
      <h1 class="text-2xl lg:text-6xl text-center">
        Eventos que inspiran, <br />
        <span class="text-amber-400">Momentos que perduran</span>
      </h1>
    </div>
    <div class="flex flex-col items-center gap-4">
      <h2 class="font-bold text-xl lg:text-4xl">Portfolio</h2>
      <p>Descubre nuestra magia en cada evento</p>
    </div>
    
    <div class="hidden lg:flex flex-col w-full items-center">
      {
        firstThreeEvents.map((event) => (
          <Event class="block-event pb-8" title={event.title} description={event.description} image={event.image} link={event.link} />
        ))
      }
    </div>


    <div class="lg:hidden w-full px-2">
      <Carousel events={events} />
    </div>
    <div class="flex flex-col w-full lg:flex-row items-center justify-between gap-4">
      <a href="/allEvents" class="underline">
        <div class="hidden lg:flex lg:items-center lg:justify-center">
          <p class="font-bold inline-flex">
            Ver todos<ArrowRight class="w-5 h-5 ml-1" />
          </p>
        </div>
      </a>
      <div class="flex flex-col sm:flex-row items-center justify-center pt-4 gap-2 text-center">
        <p class="text-white font-bold">¿Tienes un evento planeado?</p>
        <button
          class="bg-amber-400 text-black font-extrabold px-4 py-2 rounded-lg hover:bg-amber-500 whitespace-nowrap hover:cursor-pointer"
        >
          Cotizalo ya aquí
        </button>
      </div>
    </div>
  </div>
</section>

<style>
  section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
  }

  h1 {
    font-family: "Cinzel Variable", serif;
    color: #fff;
  }

  @keyframes appear {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .block-event {
    animation: appear 0.5s ease-out forwards;
  }

</style>
